.simple-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffc2a0;
}

.todo-list-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.title {
  font-family: 'Roboto';
  font-size: 32px;
  color: #000000;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}